<!doctype html>
<html lang="en" ng-app="todoapp">
<head>
    <meta charset="utf-8">
    <title>TODO MVC</title>
    <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="assets/libs/jquery/dist/jquery.js"></script>
    <script src="assets/libs/angular/angular.js"></script>
    <script src="assets/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/libs/lodash/dist/lodash.core.js"></script>
    <script src="assets/libs/lodash/dist/lodash.fd.js"></script>
    <script src="assets/libs/lodash/dist/lodash.js"></script>
    <script src="assets/libs/lodash/dist/mapping.fd.js"></script>
    <script src="assets/libs/restangular/dist/restangular.js"></script>
    <script src="assets/js/main.js" ></script>
    <script src="assets/js/output.js"></script>
</head>
<body ng-controller="todoCtrl as ctrl">

<ul>
    <li ng-repeat="task in ctrl.tasks">
        <span>{{task.name}} -- {{task.description}} -- {{task.status}}</span>
    </li>
</ul>

<form ng-submit="ctrl.addTask()">
    <input type="text" ng-model="ctrl.newTask.name" name="name"/>
    <input type="text" ng-model="ctrl.newTask.description" name="description"/>
    <input type="text" ng-model="ctrl.newTask.excerp" name="excerp"/>
    <input type="submit" id="submit" value="Submit"/>
</form>
</body>
</html>
